body {
    height: 100%;
    font-family: Calibri;
}

html {
    height: 100%; 
    background-image: url("media/portfolio.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

div.section {
    padding: 1%;
    color: #ffffff;
    background-color: #333333;
}

.parallax {
    height: 100%; 
    background-image: url("media/portfolio.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
